/* --common styles-- */

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* --header common styles-- */
.header{
    height: 100%;
    width: 100%;
    background: rgba(255, 144, 14, 0.1);
}


/* --nav styles-- */
nav{
    display: flex;
    gap: 620px;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-left: 150px;
}
.nav-menu{
    margin-top: 65px;
    margin-right: 240px;
}

.menu-items{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
    padding-right: 45px;
}

/* --header styles-- */

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-title img{
    margin-bottom: 50px;
}

.main-title{
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.title-and-description{
    align-items: center;
    width: 35%;        
}

.primary-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px 20px;
    text-decoration: none;
    text-align: center;
    background-color: #FF900E;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 50px;
}

/* --quick list section styles-- */

.quick-list-section{
    display: flex;
    margin-top: 85px;
    margin-right: 200px;
}
.images{
    width: 50%;
    margin-left: 180px;
}
.img{
    margin-right: 25px;
    margin-bottom: 25px;
}
.quick-list-texts{
    width: 50%;
    margin-top: 250px;
}
.quick-title-thick{
    font-size: 45px;
    font-weight: 500;
    color: #727272;
}
.quick-title-bold{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.quick-title-special{
    font-size: 45px;
    font-weight: 700;
    color: #FF900E;
}

/* --features section styles-- */

.loving-features-section{
    display: flex;
    gap: 40px;
    margin-top: 120px;
}
.loving-features-container{
    width: 40%;
    margin-left: 240px;
}
.loving-features-img{
    width: 60%;
}
.loving-features-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 20px;
}
.loving-features-description, .feature-box-description{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}
.feature-box-title{
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
}

.feature-box{
    height: 120px;
    width: 620px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 30px 10px;
    margin-bottom: 20px;
}

/* --Experience styles */

.experience-section{
    display: flex;
    justify-content: center;
}
.experience-text{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    padding: 45px 30px;
    background-color: #FF900E;
    border-radius: 8px;
    height: 120px;
    width: 340px;
    color: #FFFFFF;
}
.experience-small{
    font-size: 25px;
    font-weight: 500px;
}


